/*/ Admin Custom CSS /*/
h1.wp-block.wp-block-post-title {
	margin-left: 80px;
}
#editor .block-editor-block-list__layout {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#slider_caption {width: 90%; height: 200px;}
#slider_link {max-width: 80%; width: 600px;}
ul.dd_home_widget li:first-child {
    float: left;
    width: 60%;
}
ul.dd_home_widget li:last-child {
    width:30%;
    float:left;
    padding-left:5%;
}
ul.dd_home_widget {
    display: inline-block;
    width: 100%;
}
ul.dd_home_widget a.button {
    margin-top: 1em;
}
/* Hide Jetpack Nag */
.jitm-card, .notice.wcs-nux__notice {
    display: none !important;
}
/* Advanced bootstrap blocks */
#editor .wp-block[data-type="advanced-bootstrap-blocks/row"], #editor .wp-block[data-type="advanced-bootstrap-blocks/container"] {
  margin: 0 auto;
}

/* Make Widgets Full Width */
#widgets-editor .wp-block[data-type="core/widget-area"] {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#widgets-editor.blocks-widgets-container .editor-styles-wrapper {
  max-width: 100%;
}
.plugin-title .help {
  font-size: 13px;
  font-style: normal;
}
html :where(.wp-block) {
	max-width: 1270px;
}